<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Ypassmultitestapp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ypassmultitestapp</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSBluetoothAlwaysUsageDescription</key>
    <string>자동문을 열기 위해서 블루투스를 허용해주셔야 합니다.</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>자동문을 열기 위해서 블루투스를 허용해주셔야 합니다.</string>
    <key>NSContactsUsageDescription</key>
    <string>서비스에 빠른 이용을 위해 주소록에 접근합니다.</string>
    <key>NSLocalNetworkUsageDescription</key>
    <string>서비스를 위해 로컬 네트워크에 대한 권한이 필요합니다.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>사용자가 문 앞에 있음을 파악하고 문열림 서비스를 사용하시려면 항상 허용을 해주셔야 합니다.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>사용자가 문 앞에 있음을 파악하고 문열림 서비스를 사용하시려면 항상 허용을 해주셔야 합니다.</string>
    <key>NSLocationUsageDescription</key>
    <string>사용자가 문 앞에 있음을 파악하고 문열림 서비스를 사용하시려면 항상 허용을 해주셔야 합니다.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>사용자가 문 앞에 있음을 파악하기 위해서 항상 허용하셔야 합니다.</string>
    <key>PermissionGroupCriticalAlerts</key>
    <string>criticalAlerts</string>
    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>
    <key>UIBackgroundModes</key>
    <array>
        <string>bluetooth-central</string>
        <string>bluetooth-peripheral</string>
        <string>fetch</string>
        <string>fetch</string>
        <string>location</string>
        <string>processing</string>
        <string>remote-notification</string>
    </array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
